.Button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.List-group-item {
  margin: 30px;
  font-size: 20px;
  padding: 10px;
}

.Search-input-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.Search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
